body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    background: none; 
}

.signin-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-card {
    background: rgba(255, 255, 255, 0.3); 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
    backdrop-filter: blur(20px); 
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.signin-card h2 {
    font-family: 'Archivo Black', sans-serif;
    color: #1c7c74;
    margin-bottom: 10px;
}

.signin-card p {
    color: #666;
    font-size: 14px;
}

.input-group {
    margin: 15px 0;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.extra-options {
    text-align: right;
    font-size: 13px;
}

.extra-options a {
    color: #ef7c8e;
    text-decoration: none;
}

.extra-options a:hover {
    text-decoration: underline;
}

.signin-btn {
    width: 100%;
    background: #ef7c8e;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
}

.signin-btn:hover {
    background: #e55d74;
}

.signup-link {
    margin-top: 10px;
    font-size: 14px;
}

.signup-link a {
    color: #1c7c74;
    font-weight: bold;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
